<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/courses.css">
  <title>Resources</title>
</head>
<body>
<%- include('./partials/_bstrap.ejs'); %> 

    <div>
      <%- include('./partials/_nav'); %> 
      <div class="courses resources">
        <div class="container">
          <div class="headerdiv">
            <h3 class="header">Resources</h3>
            <p>WAs a premium member of the finance village, you have free access to exclusive webinars & events. Click on any to get started</p>
            <img src="/img/search-normal.png" alt="serachicon" class="searchIcon">
            <input type="text" placeholder='Search Courses' class="searchBox form-control"/>
          </div>

          <%- include('./partials/_mininav'); %> 

          <center><div class="row">
            <div class="col col-lg-4">
              <div class="card">
                <img src="/img/freecourse1.svg" alt="course" />
                <div class="card-text">
                <span class="bookstatus">Webinar</span>
                <h5 class="pt-3">Keynote Speech - Hangout Event Dec 2018</h5>
                <p class="pt-1">Keynote speech by Mr Olawale Ayilara - CEO Landwey Investments Ltd <br><br></p>
                <a href="webinarLesson"><button>Get Started</button></a>
                </div>
              </div>
            </div>
            <div class="col col-lg-4">
              <div class="card">
                <img src="/img/freecourse2.svg" alt="course" />
                <div class="card-text">
                <span class="bookstatus">Webinar</span>
                <h5 class="pt-3">Panel Session - Hangout Event June 2019</h5>
                <p class="pt-1">Panel session from Our Hangout Event in June 2019 <br> <br> <br></p>
                <button>Get Started</button>
                </div>
              </div>
            </div>


            <div class="col col-lg-4">
                <div class="card">
                  <img src="/img/event1.svg" alt="course" />
                  <div class="card-text">
                  <span class="bookstatus">Webinar</span>
                  <h5 class="pt-3">#MeettheCEOseries - Q & A Webinar With The CEO, PlentyWaka</h5>
                  <p class="pt-1">PlentyWaka is an Uber-like company for buses in Nigeria) Click here to ....</p>
                  <button>Get Started</button>
                  </div>
                </div>
              </div><div class="col col-lg-4">
                <div class="card">
                  <img src="/img/event2.svg" alt="course" />
                  <div class="card-text">
                  <span class="bookstatus">Webinar</span>
                  <h5 class="pt-3">Keynote Speech - Hangout Event Dec 2018</h5>
                  <p class="pt-1">Keynote speech by Mr Olawale Ayilara - CEO Landwey Investments Ltd</p>
                  <button>Get Started</button>
                  </div>
                </div>
              </div>


            <div class="col col-lg-4">
              <div class="card">
                <img src="/img/freecourse3.svg" alt="course" />
                <div class="card-text">
                <span class="bookstatus">Webinar</span>
                <h5 class="pt-3">Keynote Speech - Hangout Event Dec 2018</h5>
                <p class="pt-1">Keynote speech by Mr Olawale Ayilara - CEO Landwey Investments Ltd</p>
                <button>Get Started</button>
                </div>
              </div>
            </div>
            <div class="col col-lg-4">
                <div class="card">
                  <img src="/img/freecourse3.svg" alt="course" />
                  <div class="card-text">
                  <span class="bookstatus">Webinar</span>
                  <h5 class="pt-3">Keynote Speech - Hangout Event Dec 2018</h5>
                  <p class="pt-1">Keynote speech by Mr Olawale Ayilara - CEO Landwey Investments Ltd</p>
                  <button>Get Started</button>
                  </div>
                </div>
              </div>
            
          </div></center>
          
        </div>

      </div>
    </div>

  </body>
  </html>