@use 'base';
@mixin button($btnColor: base.$btnColor) {
    background-color: $btnColor;
    color: base.$txtColor;
    height: 45px;
    width: 85px;
    border-radius: 5px;
    padding: 16px, 10px, 16px, 10px;
    border-style: none;
    font-size: 14px;
}


.settings{
    .header{
        font-size: 24px !important;
        font-weight: 600;
    }

    .topRow{
        margin-top: 4.5rem;
    }

    .row{
        margin-bottom: 5rem;
    }

    .fields{
        padding-bottom: 1rem;

        button{
            @include button($btnColor: base.$btnColor);
            width: 100%;
            margin-top: 0;
        }

        .form-control{
            height: 45px;
        }
    }

    button{
        @include button($btnColor: base.$btnColor);
        width: 100%;
        margin-top: 2rem;
    }
}
