<script src="/js/index.js"></script>

  <div class="mininav mb-5">
      <ul class="navbar-nav">
        <li class="mininav-item">
          <a href="resources">Past Webinars</a>
        </li>
        <li class="mininav-item">
          <a href="resourcesDoc">Docs</a>
        </li>
        <li class="mininav-item">
          <a href="/resourcesDoc">Audio</a>
        </li>
      </ul>
  </div>
