<script src="/js/index.js"></script>
<link rel="stylesheet" href="/css/component.css">

<nav class="sidebar navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand navbarBrand" href="#">
      <img src="/img/userprofileImg.svg" alt="profile photo" class='profileImg'/>
      <h4 class='username'>Uche Aguocha</h4>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <img src=/img/home-sidebar.png alt="home" class='sidebarIcon'/>
          <a class="nav-link" href="/">Start Here</a>
        </li>
        <li class="nav-item">
          <img src="/img/book-sidebar.png" alt="" class='sidebarIcon'/>
          <a class="nav-link" href="courses">Courses</a>
        </li>
        <li class="nav-item">
          <img src="/img/webinars-sidebar.png" alt="" class='sidebarIcon'/>
          <a class="nav-link" href="webinars">Webinars / Events</a>
        </li>
        <li class="nav-item">
          <img src="/img/note-sidebar.png" alt="" class='sidebarIcon'/>
          <a class="nav-link" href="resources">Resources</a>
        </li>
        <li class="nav-item">
          <img src="/img/calendar-sidebar.png" alt="" class='sidebarIcon'/>
          <a class="nav-link" href="calendar">Calendar </a>
        </li>
        <li class="nav-item">
          <img src=/img/profile-sidebar.png alt="" class='sidebarIcon'/>
          <a class="nav-link" href="referrals">Referrals </a>
        </li>
        <li class="nav-item">
          <img src="/img/setting-sidebar.png" alt="" class='sidebarIcon'/>
          <a class="nav-link" href="settings">Settings</a>
        </li>
        <li class="nav-item logout">
            <img src=/img/logout-sidebar.png alt="" class='sidebarIcon logoutIcon'/>
            <a class="nav-link" style="color: #F58220;" href="http://localhost:3000">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>