  <link rel="stylesheet" href="/css/component.css">
  
  <center>
      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <span type="button" class="close ms-auto px-3 py-2" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 25px;">&times;</span>
          </span>
        <div class="modal-body">
            <img src="" alt="animation" height="150" width="150">
          <h5 class="my-3">Saved Successfully</h5>
          <p class="mb-4">The changes you made have been saved succesfully</p>
          <button type="button" class="close mb-4" data-dismiss="modal" aria-label="Close">Continue</button>
        </div>
      </div>
    </div>
  </div>
  </center>
  