@import url(core_stylesheet.css);
@import url(euclid_stylesheet.css);

$bgColor: #f8f9fa;
$priColor: #008E97;
$secColor: #F58220;
$bookColor: #F9EADE;
$altColor: #014448;
$textColor: white;
$newColor: #F582200D;
$alttextColor: #00292C;
$secPadding: 5rem 0 5rem;

@mixin theme($theme: $bgColor) {
    background: $theme;
    padding: $secPadding;
}

@mixin button($btnColor: $priColor) {
    background-color: $btnColor;
    color: $textColor;
    height: 50px;
    width: 169px;
    left: 103px;
    top: 457px;
    border-radius: 10px;
    padding: 16px, 10px, 16px, 10px;
}

.navbar{
    padding: 0 2rem 0 2rem;
    background-color: $priColor;

    .topNav{
        background-color: $bgColor;
        margin: 0rem -15rem 0 -4rem;

        .navbar-brand{
            margin-right: 6rem;
            padding-left: 2rem;
        }

        .navbar-toggler{
            margin-right: 10rem;
            margin-left: 1rem;
        }
    }

    .collapse.navbar-collapse{
        text-align: left;
    }

    .logoNav{
        height: 130px;
        width: 130px;
    }

    .nav-item{
        padding: 0 1rem 0 1rem;

        a{
            text-decoration: none;
        }

        .nav-link{
            text-align: left !important;
            color: $textColor;
        }
    }

    .login{
        color: $textColor;
    }

    .login:hover{
        background-color: $priColor;
        color: $textColor;
    }

    .nav-link.signup{
        color: $secColor;
    }

    .authLink{
        font-size: 12px;
    }
}

.accordion-item{
    // margin: 1rem 0 1rem;
    border-radius: 10px!important;
    margin: 1rem 0;
    border-left: 5px #008e97  solid;

    button.accordion-button{
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: 100%;
        border-radius: 10px !important;
    }

    .accordion-item button.accordion-button {
        height: 100%;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .accordion-body{
        text-align: left;
        font-size: 16px;
        line-height: 23px;
        color: rgba(148, 162, 171, 1);
    }

    .accordion-button:focus {
        outline: 0;
        box-shadow: none;
    }    

    .accordion-button:not(.collapsed){
        color: black;
    }

    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
        transform: scale(0.75) !important;
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }

}

footer{
    @include theme($theme: $newColor);
    .upFooter{
        padding-left: 1rem;
        padding-right: 1rem;  
        padding-bottom: 3rem;

        .col-12.col-sm-6.alignLeft{
            text-align: center;
        }

        .mailInput{
            height: 50px;
            width: 200px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-style: none;
            background-color: $bookColor;
            padding-left: 4rem;
        }

        .mailInputicon{
            margin-left: 2rem;
            margin-top: 1rem;
            position: absolute;
        }

        .btnInput{
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            border-style: none;
            background-color: $secColor;
            height: 50px;
            margin-top: -.2rem;
            color: $textColor;
            font-size: 12px;
        }

        .mailInput:focus {
            outline: none !important;
            border:1px solid #719ECE;
            box-shadow: 0 0 5px #719ECE;
        }
    }

    .lowFooter{
        text-align: center;

        .lowFooter_paragraph{
            padding-left: 50px;
            padding-right: 50px;
        }

        .indexLogo{
            height: 100px;
            width: 100px;
        }

        .logos{
            padding-top: 2rem;
            padding-bottom: 4rem;
        }

        .lFootrow{
            text-align: left;
            word-wrap: break-word;
        }
    }

    .footIcon{
        padding-left: 3rem;
        margin-top: -2.5rem;
    }

    .footIcon a{
        text-decoration: none;
        color:  $priColor;
        font-family: 'core_sans_c65_bold';
        font-weight: 700;
    }

    .footerRights{
        text-align: center;
    }
}

.signupModal{
    color: #00000080;
    
    .tabTwo{
        display: none;
    }

    label{
        float: left;
        padding-bottom: 10px;
    }

    input{
        height: 50px;
    }

    .modalHeader{
        padding-top: 2rem;

        .close{
            float: right;
        }

        .modal-title{
            padding-top: 1rem;
            color: black;
            font-size: 22px;
        }
    }

    .modal-content{
        background-color: $bgColor;
        padding-left: 2rem;
        padding-right: 2rem; 
    }

    .modalCol{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .btn.continue{
        @include button($btnColor: $priColor);
        width: 98%;
        margin-left: .7rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-top: 1rem;
        padding-bottom: 2.3rem;
    }

    .emailConfirmed{
        height: 150px;
        width: 150px;
    }
}


@media screen and (min-width: 375px){
    .navbar-toggler{
        margin-left: 5rem !important;
    }
}

@media screen and (min-width: 425px){
    .navbar-toggler{
        margin-left: 8rem !important;
    }
}

@media screen and (min-width: 768px) {
    .navbar{
        .topNav{
            background-color: $bgColor !important;
            margin: 0rem -15rem 0 -4rem;
    
            .navbar-brand{
                margin-right: 13rem !important;
                padding-left: 3rem !important;
            }
    
            .navbar-toggler{
                margin-right: 6rem !important;
                margin-left: 18rem !important;
            }
        }

        .authLink{
            font-size: 14px !important;
        }
    }

    footer{
        padding-left: 70px;
        padding-right: 70px;

        .col-12.col-sm-6.alignLeft{
            text-align: left !important;
        }
    }
}

@media screen and (min-width: 820px) {

    .topNav{
        background-color: $bgColor !important;
        margin: 0rem -15rem 0 -3rem !important;

        .navbar-brand{
            margin-right: 18rem !important;
            padding-left: 5rem !important;
        }

        .navbar-toggler{
            margin-right: 7rem !important;
            margin-left: 20rem !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    .navbar{
        background-color: $bgColor !important;
    
        .collapse.navbar-collapse{
            background-color: $bgColor !important;
        }
    
        .topNav{
            margin: 0 !important;
    
            .navbar-brand{
                margin-right: 0 !important;
                padding-left: 0 !important;
            }
    
            .navbar-toggler{
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }
    
        .login{
            width: 100px;
            padding-top: 12.5px;
            padding-bottom: 12.5px;
            color: $priColor !important;
            border-color: $priColor;
            border-style: solid 1px;
            border-radius: 10px;
        }
    
        .signup{
            @include button($btnColor: $secColor);
            width: 195px;
            color: $textColor !important;
        }
    
        .nav-link{
            color: black !important;
        }
    
        .login.authLink{
            margin-left: 1rem;
            color: $priColor !important;
            text-align: center !important;
        }

        .login.authLink:hover{
            background-color: $priColor !important;
            color: $textColor !important;
        }
    
        .signup.authLink{
            margin-left: .1rem !important;
            color: $textColor !important;
            text-align: center !important;
        }
    }

    footer{
        .upFooter{
            padding-left: 100px !important;
            padding-right: 100px !important;  
        }

        .mailInput{
            width: 260px !important;
        }
    
        .lowFooter_paragraph{
            padding-left: 175px !important;
            padding-right: 175px !important;
        }
    }

    .signupModal{

        .modal-title{
            font-size: 28px !important;
        }
    }
}

@media screen and (min-width: 1110px) {
    .login.authLink{
        margin-left: 12rem !important;
    }
}

@media screen and (min-width: 1440px) {
    .login.authLink{
        margin-left: 20rem !important;
    }

    .signup.authLink{
        margin-left: 1rem !important;
    }
}