@import url(core_stylesheet.css);
@import url(euclid_stylesheet.css);

$bgColor: #f8f9fa;
$priColor: #008E97;
$secColor: #F58220;
$bookColor: #F9EADE;
$altColor: #014448;
$textColor: white;
$newColor: #F582200D;
$alttextColor: #00292C;
$secPadding: 5rem 0 5rem;

@mixin theme($theme: $bgColor) {
    background: $theme;
    padding: $secPadding;
}

@mixin button($btnColor: $priColor) {
    background-color: $btnColor;
    color: $textColor;
    height: 50px;
    width: 169px;
    left: 103px;
    top: 457px;
    border-radius: 10px;
    padding: 16px, 10px, 16px, 10px;
}

.navbar{
    padding: 0 2rem 0 2rem;
    background-color: $priColor;

    .topNav{
        background-color: $bgColor;
        margin: 0rem -15rem 0 -4rem;

        .navbar-brand{
            margin-right: 6rem;
            padding-left: 2rem;
        }

        .navbar-toggler{
            margin-right: 10rem;
            margin-left: 1rem;
        }
    }

    .collapse.navbar-collapse{
        text-align: left;
    }

    .logoNav{
        height: 100px;
        width: 100px;
    }

    .nav-item{
        padding: 0 1rem 0 1rem;

        .nav-link{
            color: $textColor;
        }
    }

    .login{
        color: $textColor;
    }

    .login:hover{
        background-color: $priColor;
        color: $textColor;
    }

    .nav-link.signup{
        color: $secColor;
    }

    .authLink{
        font-size: 12px;
    }
}



.accordion-item{
    margin: 1rem 0 1rem;
    border-radius: 10px !important;

    button.accordion-button{
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: 100%;
        background: linear-gradient(90deg, #008E97 1.5%, white 0%);
        border-radius: 10px !important;
    }

}

@media screen and (min-width: 375px){
    .navbar-toggler{
        margin-left: 5rem !important;
    }
}

@media screen and (min-width: 768px) {
    .topNav{
        background-color: $bgColor !important;
        margin: 0rem -15rem 0 -4rem !important;

        .navbar-brand{
            margin-right: 13rem !important;
            padding-left: 3rem !important;
        }

        .navbar-toggler{
            margin-right: 6rem !important;
            margin-left: 18rem !important;
        }
    }

    .authLink{
        font-size: 14px !important;
    }
}

@media screen and (min-width: 1024px) {
    nav.navbar{
        background-color: $bgColor !important;
    }

    .collapse.navbar-collapse{
        background-color: $bgColor !important;
    }

    .topNav{
        margin: 0 !important;

        .navbar-brand{
            margin-right: 0 !important;
            padding-left: 0 !important;
        }

        .navbar-toggler{
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }

    .login{
        width: 100px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        color: $priColor !important;
        border-color: $priColor;
        border-style: solid 1px;
        border-radius: 10px;
    }

    .login:hover{
        background-color: $priColor;
        color: $textColor;
    }

    .signup{
        @include button($btnColor: $secColor);
        width: 195px;
        color: $textColor !important;
    }

    .nav-link{
        color: black !important;
    }

    .login.authLink{
        margin-left: 10rem !important;
        color: $priColor !important;
    }

    .signup.authLink{
        margin-left: .1rem !important;
        color: $textColor !important;
    }
}

@media screen and (min-width: 1440px) {
    .login.authLink{
        margin-left: 20rem !important;
    }

    .signup.authLink{
        margin-left: 1rem !important;
    }
}