@import url(core_stylesheet.css);
@import url(euclid_stylesheet.css);

$bgColor: #FAFAFA;
$cardred: #E458651A;
$cardgreen: #008E9721;
$secColor: #F58220;

.dashboard{
    overflow-x: hidden;
    background-color: $bgColor;
    font-family: 'euclid_circular_bregular';
    font-size: 14px;
    text-align: left;
    word-spacing: 3px;
    line-height: 26px;
    padding-top: 3rem;
    word-wrap: break-word;

    .founder{
        height: 187.28590393066406px;
        width: 100%;
        height: 100%;
        margin: 3rem 0 3rem;
    }

    .userName{
        color: $secColor;
    }

    .card{
        width: 100%;
        border-radius: 10px;   
        padding: 1rem;  
        border: none; 
        margin: 2rem 0;  
    }

    .icon{
        display: none;
    }

    .card.red{
        background-color: $cardred;
        color: #E45865;
        
        .cardText{
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .card.green{
        background-color: $cardgreen;

        .cardText{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

@media only screen and (min-width: 1024px) {    
    .dashboard .container{
        padding: 2rem 5rem 3rem 20rem;

        .icon{
            width: 24px;
            height: 24px;
            display: unset;
        }

        .card.red{
            
            .cardText{
                padding: 5px 10px 5px 50px ;
            }
    
            .icon{
                position: absolute;
                top: 2rem;
            }
        }
    
        .card.green{
    
            .cardText{
                padding: 20px 10px 20px 50px;
            }

            .icon{
                position: absolute;
                top: 2.3rem;
            }
        }
    }
}