<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/lesson.css">
    <title></title>
  </head>
  <body> 
    <%- include('./partials/_bstrap.ejs'); %> 
    <div>
      <%- include('./partials/_nav'); %> 
      <div class="lesson">
      <div class="container">
        <a href="/courseDescription"><img src="/img/arrow-left.svg" alt=""></a>

        <h3 class="header">Lesson 1 - How to calculate Savings</h3>
        <img src="/img/founder.png" alt="" class='founder'/>

        <div class="navBtns">
            <img src="/img/prevlesson.svg" alt="" class="">
            <img src="/img/nextlesson.svg" alt="" class="nextBtn">
        </div>

        <h3>Lesson Overview</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, facilisis mattis est, odio fusce. Facilisi bibendum vel, quam eget neque. A volutpat volutpat nulla eget. Lobortis velit dictum ullamcorper gravida etiam convallis. Lobortis eros vitae semper natoque risus. Malesuada netus euismod consequat malesuada interdum eu eget at. Ultricies pulvinar nibh a, sed dolor. Semper eu dis ut urna, vulputate dictumst at dolor. </p>

        <h3 class="pt-5 pb-4">Course Materials</h3>
        <div>
            <img src="/img/lessontxt.svg" alt="">
            Finance Club Worksheet
        </div>

        <h3 class="comments">Comments & Questions</h3>
        <div class="card">
            <img src="/img/profile-circle.svg" width="81" height="81" alt="">
            <div class="usercomment">
            <b>Kosi Nwafor</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, facilisis mattis est, odio fusce. Facilisi bibendum vel, quam eget neque. A volutpat volutpat nulla eget.</p>
            </div>          
        </div>
        <div class="card">
            <img src="/img/profile-circle.svg" width="81" height="81" alt="">
            <div class="usercomment">
            <b>Kosi Nwafor</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, facilisis mattis est, odio fusce. Facilisi bibendum vel, quam eget neque. A volutpat volutpat nulla eget.</p>
            </div>          
        </div>
        <div class="card">
            <img src="/img/profile-circle.svg" width="81" height="81" alt="">
            <div class="usercomment">
            <b>Kosi Nwafor</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, facilisis mattis est, odio fusce. Facilisi bibendum vel, quam eget neque. A volutpat volutpat nulla eget.</p>
            </div>          
        </div>
        <div class="card">
            <img class="usercommentImg" src="/img/profile-circle.svg" width="81" height="81" alt="">
            <div class="usercomment input">
            <b>Kosi Nwafor</b>
            <input type="text" class="form-control" placeholder="Type your comment or question here">
            <button>Submit</button>
            </div>          
        </div>

        
      </div>
      </div>
  </div>

  </body>
</html>