@import url(core_stylesheet.css);
@import url(euclid_stylesheet.css);
.index {
  overflow-x: hidden;
  background-color: #f8f9fa;
  font-family: "euclid_circular_bregular";
  font-size: 12px;
  text-align: center;
  word-spacing: 3px;
}
.index h1, .index h2, .index h3, .index h4, .index h5, .index h6 {
  font-family: "core_sans_c65_bold";
}
.index .subHead, .index .innerHead {
  padding-top: 1rem;
  font-family: "euclid_circular_bmedium";
}
.index .subHead {
  font-size: 14px;
}
.index .innerHead {
  font-size: 16px;
}
.index .sec1 {
  padding-top: 5rem;
}
.index .sec1 .sColor {
  color: #F58220;
}
.index .sec1 .pColor {
  color: #008E97;
}
.index .sec1 .priBtn {
  background-color: #008E97;
  color: white;
  height: 50px;
  width: 169px;
  left: 103px;
  top: 457px;
  border-radius: 10px;
  padding: 16px, 10px, 16px, 10px;
  font-size: 14px;
}
.index .sec1 .mainHeader {
  font-size: 40px;
  line-height: 60px;
}
.index .sec1 .imgGroup {
  height: auto;
  margin-top: 2rem;
  width: 100%;
}
.index .sec2 {
  background: url(../Img/wave.svg) no-repeat;
  padding: 5rem 0 5rem;
  color: white;
}
.index .sec2 .sect2 {
  background-color: #008E97;
  margin-top: -1rem;
  padding-bottom: 5rem;
}
.index .sec2 .sect2 .sec2Left {
  text-align: left;
}
.index .sec2 .sect2 .sec2Header {
  padding: 5rem 0 5rem;
}
.index .sec2 .sect2 .dummyUser {
  height: 99px;
  width: 99px;
  left: 20px;
  top: 1455px;
  border-radius: 404px;
}
.index .sec3 .sec3H4 {
  font-family: "euclid_circular_bregular";
  color: #00292CBF;
}
.index .sec3 .subHead_paragraph {
  padding: 0px 5px;
}
.index .sec3 .secText {
  margin-top: -3rem;
  margin-bottom: 5rem;
}
.index .sec3 .groupAssets {
  height: 110px;
  width: 110px;
  left: 82px;
  top: 265px;
  border-radius: 0px;
}
.index .sec3, .index .sec5 {
  background: #f8f9fa;
  padding: 5rem 0 5rem;
  color: #00292C;
}
.index .sec4 {
  background: #F9EADE;
  padding: 5rem 0 5rem;
  color: #00292C;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.index .sec4 .imgBook {
  width: 100%;
  padding-bottom: 5rem;
}
.index .sec4 .sColor {
  color: #F58220;
}
.index .sec4 .secBtn {
  background-color: #F58220;
  color: white;
  height: 50px;
  width: 169px;
  left: 103px;
  top: 457px;
  border-radius: 10px;
  padding: 16px, 10px, 16px, 10px;
  font-size: 14px;
}
.index .sec5 .imgFounder {
  width: 300px;
}
.index .sec6 {
  background-color: #008E9740;
  color: #00292C;
}
.index .sec6 .sect6 {
  text-align: left;
}
.index .sec6 .sect6 blockquote {
  font-family: "core_sans_c65_bold";
  font-size: 15px;
  padding: 3rem 0.5rem 0rem 1rem;
}
.index .sec6 .sect6 .readMore {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 12px;
}
.index .sec6 .sect6 .readStudent {
  font-family: "euclid_circular_blight_italic";
  font-weight: 600;
}
.index .sec6 .sect6 .readStories {
  font-family: "euclid_circular_bmedium";
  font-weight: 600;
  font-size: 14px;
  color: #008E97;
}
.index .sec6 .imgTest {
  width: 100%;
  height: 400px;
}
.index .sec7 {
  padding: 5rem 0 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 20rem;
}
.index .sec7 .chatBtn {
  background-color: #008E97;
  color: white;
  height: 50px;
  width: 169px;
  left: 103px;
  top: 457px;
  border-radius: 10px;
  padding: 16px, 10px, 16px, 10px;
  font-size: 14px;
  margin-top: 32px;
}
.index .sec7 .imgChat {
  width: 250px;
  margin-top: -42rem;
}
.index .sec7 button a {
  text-decoration: none;
  color: white;
}
.index .sec8 {
  background: #014448;
  padding: 5rem 0 5rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}
.index .sec8 .imgG5 {
  width: 250px;
  padding-bottom: 3rem;
}
.index .sec8 .btnJoin {
  background-color: #02B1BC;
  color: white;
  height: 50px;
  width: 169px;
  left: 103px;
  top: 457px;
  border-radius: 10px;
  padding: 16px, 10px, 16px, 10px;
  font-size: 14px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .index {
    font-size: 14px !important;
  }
  .index .alignLeft {
    text-align: left;
  }

  .indexLogo {
    height: 200px !important;
    width: 200px !important;
  }

  .subHead {
    font-size: 16px !important;
  }

  .innerHead {
    font-size: 24px !important;
  }

  blockquote {
    font-size: 20px !important;
    padding: 3rem 3rem 1rem 3rem !important;
  }

  .readMore {
    padding-top: 1rem !important;
    padding-left: 3rem !important;
    font-size: 16px !important;
    padding-bottom: 2rem !important;
  }

  .sect2 {
    margin-top: 4rem !important;
  }

  .groupAssets {
    height: 139px;
    width: 139px;
    left: 812px;
    top: 2057px;
    border-radius: 0px;
  }

  .sec7 {
    padding-left: 110px !important;
    padding-right: 3rem !important;
    padding-top: 5rem !important;
  }
  .sec7 .imgChat {
    margin-top: 0rem !important;
  }

  .sec8 {
    padding-left: 1rem !important;
    padding-right: 4rem !important;
  }
  .sec8 .imgG5 {
    width: 350px !important;
    height: 300px !important;
  }

  .sec4 {
    padding-bottom: 0 !important;
  }
  .sec4 .imgBook {
    width: 100% !important;
    height: max-content !important;
    padding-bottom: 0 !important;
    margin-left: -5rem !important;
  }

  .imgFounder {
    width: 50% !important;
  }

  .imgTest {
    width: 100% !important;
    height: 100% !important;
  }

  .imgChat {
    width: 70% !important;
  }

  .imgG5 {
    height: 386px !important;
    width: 386px !important;
    left: 190.625px !important;
    top: 4941px !important;
    padding: 0 !important;
  }

  .dummyUser {
    height: 197px !important;
    width: 197px !important;
    left: 205px !important;
    top: 1046px !important;
    border-radius: 268.5px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .mainHeader {
    font-size: 60px !important;
  }

  blockquote {
    font-size: 30px !important;
  }

  .sect2 {
    margin-top: 8rem !important;
  }

  .mailInput {
    width: 350px !important;
  }

  .sec8 {
    padding-right: 140px !important;
  }
}
@media only screen and (min-width: 1440px) {
  blockquote {
    font-size: 40px !important;
  }
}

/*# sourceMappingURL=index.css.map */
