<link rel="stylesheet" href="/css/component.css">
  
<center>
    <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered p" role="document">
    <div class="modal-content px-2">
        <span type="button" class="close ms-auto px-3 py-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
        </span>
      <div class="modal-body">
          <img src="/img/calendar-animation.svg" alt="animation" height="230" width="230">
        <h5 class="my-3">The Breakfast Club with The Finance Village</h5>
        <span class="title">Time:</span>  <span class="detail">10:30am - 12:30pm</span> <br>
        <span class="title">Venue:</span>  <span class="detail">Online</span>
        <p class="my-5">The Breakfast Club with the Finance Village is a breakfast meeting hosted by the Money Mechanic aimed at bringing together other people on their journey to financial freedom to discuss issues about finances in an honest, open and transparent manner over breakfast. Attendance is strictly by invitation!</p>
        <button type="button" class="close mb-4" data-dismiss="modal" aria-label="Close">Join Webinar</button>
      </div>
    </div>
  </div>
</div>
</center>
